html, body{
  background-color: black;
  overflow: hidden;
  font-family: 'libre_baskervilleregular';
  width: 100%;
  height: 100%;
  color: #333;
}

#app{
  width: 100%;
  height: 100%;
}

.menu{
  position: absolute;
  z-index: 3;
  left: 50px;
  width: 200px;
}

.menu_logo{
  // background-color: rgba(0, 255, 0, 1);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 36px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0px;
}

.menu_logo img{
  width: 160px;
}

.menu_anim_container{
  // background-color: rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  height: 120px;
  transition: 1s;
}

.menu_collapsed{
  top: 0px;
  position: absolute;
  transition: 1s;
  text-align: center;
  color: white;
  width: 200px;
  line-height: 1.5em;
}

.menu_link{
  cursor: pointer;
}


#contact_page{
  height: 100vh;
  width: 100%;
  position: absolute;
  // background-color: pink;
}

#photo_pascal{
  display: inline-block;
  float: right;
  height: inherit;
}

#photo_pascal img{
  height: 100%;
  // width: auto;
}



#project_info{
  position: absolute;
  top: 0px;
  z-index: 3;
  top: 0px;
  left: calc(-100vh + 300px);
  height: 200px;
  width: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;

  transform-origin: right top 0;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
}

.project_info_text{
  padding: 20px;
  // margin-left: 30px;
  color: black;
  // float: right;
  // display: inline-block;
  line-height: 2em;
  text-align: right;
  // width: 100vh;
  height: 160px;
  width: 100%;
  position:absolute;
  right: 3px;
  // background-color: pink;
}


.component-enter {
  opacity: 0.01;
}

.component-enter.component-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.component-leave {
  opacity: 1;
}

.component-leave.component-leave-active {
  opacity: 0.01;
  transition: opacity 500ms linear;
}

.component-appear {
  opacity: 0.01;
}

.component-appear.component-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}



.project_info-enter {
  opacity: 0.01;
}

.project_info-enter.project_info-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

.project_info-leave {
  opacity: 1;
}

.project_info-leave.project_info-leave-active {
  opacity: 0.01;
  transition: opacity 250ms linear;
}
