@import "./_constants"

#contact_page
  width: 100%
  position: absolute // for react transitions


#photo_pascal
  display: inline-block
  float: left
  height: inherit


#photo_pascal img
  width: 100%
  height: auto


#contact_content
  display: inline-flex
  display: -webkit-inline-flex
  align-items: center
  -webkit-align-items: center
  float: left
  height: inherit
  line-height: 1.0em
  background-color: rgba(255, 255, 255, 0.8)

  margin-left: 190px
  font-size: 15px
  color: #333

  @media all and (min-height: $min_height_desktop)
    margin-left: 300px
    line-height: 1.7em
    font-size: 20px


#contact_content_container
  width: 100%

.contact_item,
.separator
  text-align: center
  padding: 7px 0
  width: 100%
  a
    text-decoration: none
    color: #333
  a:hover
    text-decoration: none



/*http://stackoverflow.com/questions/21421948/protect-e-mail-address-with-css-only*/
//.e-mail:before
//  content: "\0070\0061\0073\0063\0061\006C\0040\0073\0074\0075\0064\0069\006F\0076\006C\0061\0061\0072\002E\006E\006C"

