// width of menu plus gutter twice
$w1: 300px //200 + 50 + 50
$w2: 190px //150 + 20 + 20
// height of ipad viewport minus address bar and such
$break: 650px

#contact_page
  height: 100vh
  width: 100%
  position: absolute // for react transitions


#photo_pascal
  display: inline-block
  float: left
  height: inherit

  width: calc((100% - 190px) * 0.45)
  @media all and (min-height: $break)
    width: calc((100% - 300px) * 0.45)


#photo_pascal img
  width: 100%
  height: auto


#contact_content
  display: inline-flex
  align-items: center
  float: left
  height: inherit
  line-height: 1.7em
  background-color: rgba(255, 255, 255, 0.8)

  width: calc((100% - 190px) * 0.55)
  margin-left: 190px
  font-size: 15px
  color: #333

  @media all and (min-height: $break)
    margin-left: 300px
    width: calc((100% - 300px) * 0.55)
    font-size: 20px

#contact_content_container
  align-self: center
  width: 100%

.contact_item,
.separator
  text-align: center
  padding: 7px 0
  width: 100%
  a
    text-decoration: none
  a:hover
    text-decoration: none

/*http://stackoverflow.com/questions/21421948/protect-e-mail-address-with-css-only*/
//.e-mail:before
//  content: "\0070\0061\0073\0063\0061\006C\0040\0073\0074\0075\0064\0069\006F\0076\006C\0061\0061\0072\002E\006E\006C"

