$small_width: 150px

.menu
  position: absolute
  z-index: 3
  left: 20px
  @media all and (min-height: 768px)
    left: 50px



.menu_logo
  // background-color: rgba(0, 255, 0, 1)
  background-color: rgba(0, 0, 0, 0.4)
  cursor: pointer
  text-align: center
  padding: 20px 0px

  width: $small_width
  height: 80px

  @media all and (min-height: 768px)
    width: 200px
    height: 150px


.menu_logo img

  width: 60px

  @media all and (min-height: 768px)
    width: 100px


.menu_anim_container
  // background-color: rgba(0, 0, 255, 1)
  background-color: rgba(0, 0, 0, 0.4)
  overflow: hidden
  position: relative
  transition: 1s


.menu_collapsed
  top: 0px
  position: absolute
  transition: 1s
  text-align: center
  color: white
  line-height: 1.5em

  font-size: 15px
  width: $small_width
  height: 100vh

  @media all and (min-height: 768px)
    font-size: 15px
    width: 200px
    height: 200px


.menu_link
  cursor: pointer


.close
  font-family: monospace
  margin-top: 10px
