$break: 650px

=rotate($deg)
  -webkit-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -ms-transform: rotate($deg)
  transform: rotate($deg)


#project_info
  position: absolute
  z-index: 3

  height: 170px
  font-size: 15px

  @media all and (min-height: $break)
    font-size: 13px
    height: 200px

  @media all and (max-height: 320px)
    font-size: 10px
    height: 120px

  //background-color: rgba(255, 0, 255, 0.7)
  background-color: rgba(255, 255, 255, 0.7)
  -webkit-transform-origin: right top
  -moz-transform-origin: right top
  -ms-transform-origin: right top
  transform-origin: right top
  +rotate(-90deg)


#project_info_container
  display: flex
  align-content: flex-start
  justify-content: flex-start
  flex-direction: column
  -webkit-display: flex
  -webkit-align-content: flex-start
  -webkit-justify-content: flex-start
  -webkit-flex-direction: column
  padding: 20px
  color: black
  line-height: 2em
  text-align: right

  width: calc(100% - 40px)

  height: 130px
  @media all and (min-height: $break)
    height: 160px
    font-size: 120%

  @media all and (max-height: 320px)
    padding: 10px 20px


  position: absolute
  top: 0
  right: 0


.project_info_item
  width: 100%

#project_info_container :last-child
  margin-top: auto
