@import "./_constants"

#project_info
  position: absolute
  z-index: 3

  height: 170px

  @media all and (min-height: $min_height_desktop)
    height: 200px

  @media all and (max-height: 400px) //based on current content
    height: 130px

  @media all and (max-height: $max_height_extra_small)
    height: 120px

  //background-color: rgba(255, 0, 255, 0.7)
  background-color: rgba(255, 255, 255, 0.7)
  -webkit-transform-origin: right top
  -moz-transform-origin: right top
  -ms-transform-origin: right top
  transform-origin: right top
  +rotate(-90deg)


#project_info_container

  position: absolute // needed for react transitions
  top: 10px
  right: 10px

  color: black
  line-height: 2em
  text-align: right

  @media all and (min-height: $min_height_desktop)
    font-size: 14px

  @media all and (min-height: 760px) //based on current content
    font-size: 16px
    color: red


  @media all and (max-height: 400px) //based on current content
    top: 5px
    line-height: 1,9em
    font-size: 12px

  @media all and (max-height: $max_height_extra_small)
    letter-spacing: 0.2px
    font-size: 11px


.project_info_item
  width: 100%
