$break: 650px

=rotate($deg)
  -webkit-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -ms-transform: rotate($deg)
  transform: rotate($deg)


#project_info
  position: absolute
  z-index: 3

  top: 0px
  left: calc(-100vh + 190px)
  height: 170px
  font-size: 14px

  @media all and (min-height: $break)
    top: calc(180px + 200px)
    left: calc(-100vh + 50px)
    font-size: 15px
    height: 200px

  width: 100vh
  background-color: rgba(255, 255, 255, 0.7)
  transform-origin: right top 0
  +rotate(-90deg)


#project_info_container
  display: flex
  align-content: flex-start
  justify-content: flex-start
  flex-direction: column
  padding: 20px
  color: black
  line-height: 2em
  text-align: right

  width: calc(100% - 40px)

  height: 130px
  @media all and (min-height: $break)
    height: 160px
    font-size: 120%

  position: absolute
  top: 0
  right: 0


.project_info_item
  width: 100%

#project_info_container :last-child
  margin-top: auto
